
.swipe {
  padding-bottom:20px;
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  margin:0 0px;
  padding:50px 10px;
  background:#bf871f;
  font-weight:bold;
  color:#fff;
  font-size:40px;
  text-align:center;
}

.ui-header .ui-title {
    margin: .6em 30% .8em;
}